<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>mocapBoston Capture Claim</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">

        <!-- Semantic UI Integration -->
        <link rel="stylesheet" type="text/css" href="/semantic/semantic.min.css">
        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="/semantic/semantic.min.js"></script>
    </header>
    <body>
        <div style="background-color: #0D0A0B; padding-top: 25px; padding-bottom: 25px;">
            <div class="ui main container">
                <h1 class="ui center aligned inverted header">mocapBoston</h1>
            
                <!-- Gif Placeholder -->
                <div class="ui black inverted segment" style="max-width: 960px; margin: auto;">
                    <div style="overflow: hidden; padding-top: 56.25%; position: relative;">
                        <video autoplay loop style="border: 0; height: 100%; left: 0; position: absolute; top: 0; width: 100%;" muted preload="auto">
                            <source id="playerSource" src="https://i.giphy.com/media/{{gifID}}/source.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>

                <!-- Session ID Segment Sample -->
                <div class="ui segment" style="width: max-content; margin: auto; margin-top: 10px;">
                    <div class="ui mini statistic">
                        <div class="value">
                            {{id}}
                        </div>
                        <div class="label">
                            Session ID
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="ui container" style="padding-top: 25px;">
            <!-- Welcome Prompt -->
            <div class="ui raised segment">
                <p>Thank you so much for participating in mocapBoston!  
                    Scroll down to share your performace...
                </p>
            </div>
        </div>

        <div class="ui container" style="padding-top: 25px;">
            <div class="ui stackable three column grid">
                <div class="column">
                    <div class="ui top attached header" style="display: flex; vertical-align: middle; height: 50px;">
                        <img src="/icons/video.svg" style="float: left;">
                        <span style="margin-top: auto; margin-bottom: auto; margin-left: 10px;"><h3>
                            Privacy
                        </h3></span>
                    </div>
                    <div class="ui attached green segment">
                        <p>
                            Your image and likeness is not associated with the final capture.  
                            The images captured by each camera are processed on a device local to the camera.   
                            Images are purged immediatly following the completion of the marker detection algorithm.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui top attached header" style="display: flex; vertical-align: middle; height: 50px;">
                        <img src="/icons/code.svg" style="float: left;">
                        <span style="margin-top: auto; margin-bottom: auto; margin-left: 10px;"><h3>
                            Data
                        </h3></span>
                    </div>
                    <div class="ui attached blue segment">
                        <p>
                            Ultimatley this project is a content creation tool, generating and visualizing data from your performace.  
                            In order to serve this content to you, cloud services from Google and Giphy are utilized.
                            Your performace and it's data are anonymized and associated only with your unique session ID.
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="ui top attached header" style="display: flex; vertical-align: middle; height: 50px;">
                        <img src="/icons/share.svg" style="float: left;">
                        <span style="margin-top: auto; margin-bottom: auto; margin-left: 10px;"><h3>
                            Social
                        </h3></span>
                    </div>
                    <div class="ui attached red segment">
                        <p>
                            By default your performace visualization is private, only visible to those with whom you share it.  
                            Given your permission below, your performace will be added to the mocapBoston Gallery.  
                            Either way you will be redirected to the dedicated sharing page for your performace.
                        </p>
                        <button class="fluid ui inverted green button" id="addGallery">Add to Gallery</button>
                        <div class="ui divider"></div>
                        <button class="fluid ui inverted red button" id="keepPrivate">Keep Private</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Button Functions
            const addButton = document.getElementById("addGallery");
            const keepButton = document.getElementById("keepPrivate");

            addButton.onclick = function() {
                window.location.href = "https://mocap.boston/add/{{id}}";
            };

            keepButton.onclick = function () {
                window.location.href = "https://mocap.boston/keep/{{id}}"
            };
        </script>

        <div style="background-color: #0D0A0B; padding-top: 25px; padding-bottom: 25px; margin-top: 25px;">
            <div class="ui container">
                <div class="ui stackable three column grid">
                    <div class="column" style="height: 70px; display: block;">
                            <img src="/branding/Dan.png" style="margin: auto; max-width: 100%; max-height: 100%; display: block;">
                    </div>
                    <div class="column" style="height: 70px;">
                        <img src="/branding/Built_with_Firebase_Logo_Knockout.png" style="margin: auto; max-width: 100%; max-height: 100%; display: block;">
                    </div>
                    <div class="column" style="height: 70px;">
                        <img src="/branding/Poweredby_640px-Black_VertLogo.png" style="margin: auto; max-width: 100%; max-height: 100%; display: block;">
                    </div>
                </div>
            </div>
        </div>


        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="/__/firebase/7.3.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="/__/firebase/7.3.0/firebase-analytics.js"></script>
        <script src="/__/firebase/7.4.0/firebase-firestore.js"></script>

        <!-- Initialize Firebase -->
        <script src="/__/firebase/init.js"></script>

        <script>
            const hasProcessed = {{processed}};

            if (!hasProcessed) {
                const gifPlayer = document.getElementById("playerSource");
                var db = firebase.firestore();

                var unsubscribe = db.collection("dev").doc("{{id}}")
                    .onSnapshot(function (doc){
                        if (doc.get("processed")) {
                            location.reload();
                        }
                    });
            }
        </script>

    </body>
</html>